body, html {
  height: 100%;
  min-height: 100%;
}
.bg {
  /* The image used */
  background-color: #213339;
  align-content: center;
  /* #081c24 */
  /* #213339 */

  /* Full height */
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;

  /* background-image: url("../images/ev.png");
  opacity: 0.9; */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  color: white;
}

.vertical{
  margin-top:20vh;
  }

.fill { 
  min-height: 100%;
  height: 100%;
}

.myimg{
  width:20vh;
  margin-left: 1%;
}

#myButton{
  color: white;
  background-color: #50DBCE;
  border-color: #f9f9f9;
  width: 20%;
  
}

.myIconImage{
  margin-right: 3%;
}

.section {
  height: 100%;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.half {
  background: #f9f9f9;
  height: 50%;  
  width: 100%;
  margin: 15px 0;
}

h4 {
  color: white;  
}

.container {
  width: 100%;
  height: 100vh;
  overflow: auto;
}