registry=http://54.216.85.4:8081/repository/evio-npm-group
//54.216.85.4:8081/repository/evio-npm-group:_auth=cHVibGlzaGVyOnRiN3c5UmdRQlpWUEU0c2hxRmRV
//54.216.85.4:8081/repository/evio-npm-group:email=evio@go-evio.com
